$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$x-htmlandcss-path1: unquote('"\\ea49"');
$x-htmlandcss-path2: unquote('"\\ea4a"');
$x-htmlandcss-path3: unquote('"\\ea4b"');
$x-htmlandcss-path4: unquote('"\\ea4c"');
$x-htmlandcss-path5: unquote('"\\ea4d"');
$x-htmlandcss-path6: unquote('"\\ea4e"');
$x-htmlandcss-path7: unquote('"\\ea4f"');
$x-htmlandcss-path8: unquote('"\\ea50"');
$x-htmlandcss-path9: unquote('"\\ea51"');
$x-htmlandcss-path10: unquote('"\\ea52"');
$x-htmlandcss-path11: unquote('"\\ea53"');
$x-htmlandcss-path12: unquote('"\\ea54"');
$x-htmlandcss-path13: unquote('"\\ea55"');
$x-htmlandcss-path14: unquote('"\\ea56"');
$x-htmlandcss-path15: unquote('"\\ea57"');
$x-htmlandcss-path16: unquote('"\\ea58"');
$x-htmlandcss-path17: unquote('"\\ea59"');
$x-htmlandcss-path18: unquote('"\\ea5a"');
$x-htmlandcss-path19: unquote('"\\ea5b"');
$x-htmlandcss-path20: unquote('"\\ea5c"');
$x-htmlandcss-path21: unquote('"\\ea5d"');
$x-htmlandcss-path22: unquote('"\\ea5e"');
$x-htmlandcss-path23: unquote('"\\ea5f"');
$x-htmlandcss-path24: unquote('"\\ea60"');
$x-htmlandcss-path25: unquote('"\\ea61"');
$x-htmlandcss-path26: unquote('"\\ea62"');
$x-htmlandcss-path27: unquote('"\\ea63"');
$x-htmlandcss-path28: unquote('"\\ea64"');
$x-htmlandcss-path29: unquote('"\\ea65"');
$x-htmlandcss-path30: unquote('"\\ea66"');
$x-htmlandcss-path31: unquote('"\\ea67"');
$x-htmlandcss-path32: unquote('"\\ea68"');
$x-htmlandcss-path33: unquote('"\\ea69"');
$x-htmlandcss-path34: unquote('"\\ea6a"');
$x-htmlandcss-path35: unquote('"\\ea6b"');
$x-htmlandcss-path36: unquote('"\\ea6c"');
$x-htmlandcss-path37: unquote('"\\ea6d"');
$x-htmlandcss-path38: unquote('"\\ea6e"');
$x-htmlandcss-path39: unquote('"\\ea6f"');
$x-htmlandcss-path40: unquote('"\\ea70"');
$x-htmlandcss-path41: unquote('"\\ea71"');
$x-htmlandcss-path42: unquote('"\\ea72"');
$x-htmlandcss-path43: unquote('"\\ea73"');
$x-htmlandcss-path44: unquote('"\\ea74"');
$x-htmlandcss-path45: unquote('"\\ea75"');
$x-htmlandcss-path46: unquote('"\\ea76"');
$x-htmlandcss-path47: unquote('"\\ea77"');
$x-htmlandcss-path48: unquote('"\\ea78"');
$x-htmlandcss-path49: unquote('"\\ea79"');
$x-htmlandcss-path50: unquote('"\\ea7a"');
$x-htmlandcss-path51: unquote('"\\ea7b"');
$x-htmlandcss-path52: unquote('"\\ea7c"');
$x-htmlandcss-path53: unquote('"\\ea7d"');
$x-htmlandcss-path54: unquote('"\\ea7e"');
$x-htmlandcss-path55: unquote('"\\ea7f"');
$x-htmlandcss-path56: unquote('"\\ea80"');
$x-htmlandcss-path57: unquote('"\\ea81"');
$x-htmlandcss-path58: unquote('"\\ea82"');
$x-htmlandcss-path59: unquote('"\\ea83"');
$x-htmlandcss-path60: unquote('"\\ea84"');
$x-htmlandcss-path61: unquote('"\\ea85"');
$x-htmlandcss-path62: unquote('"\\ea86"');
$x-htmlandcss-path63: unquote('"\\ea87"');
$x-htmlandcss-path64: unquote('"\\ea88"');
$x-htmlandcss-path65: unquote('"\\ea89"');
$x-htmlandcss-path66: unquote('"\\ea8a"');
$x-htmlandcss-path67: unquote('"\\ea8b"');
$x-htmlandcss-path68: unquote('"\\ea8c"');
$x-htmlandcss-path69: unquote('"\\ea8d"');
$x-htmlandcss-path70: unquote('"\\ea8e"');
$x-htmlandcss-path71: unquote('"\\ea8f"');
$x-htmlandcss-path72: unquote('"\\ea90"');
$x-htmlandcss-path73: unquote('"\\ea91"');
$x-htmlandcss-path74: unquote('"\\ea92"');
$x-htmlandcss-path75: unquote('"\\ea93"');
$x-htmlandcss-path76: unquote('"\\ea94"');
$x-htmlandcss-path77: unquote('"\\ea95"');
$x-htmlandcss-path78: unquote('"\\ea96"');
$x-htmlandcss-path79: unquote('"\\ea97"');
$x-htmlandcss-path80: unquote('"\\ea98"');
$x-htmlandcss-path81: unquote('"\\ea99"');
$x-htmlandcss-path82: unquote('"\\ea9a"');
$x-htmlandcss-path83: unquote('"\\ea9b"');
$x-htmlandcss-path84: unquote('"\\ea9c"');
$x-htmlandcss-path85: unquote('"\\ea9d"');
$x-htmlandcss-path86: unquote('"\\ea9e"');
$x-htmlandcss-path87: unquote('"\\ea9f"');
$x-htmlandcss-path88: unquote('"\\eaa0"');
$x-htmlandcss-path89: unquote('"\\eaa1"');
$x-htmlandcss-path90: unquote('"\\eaa2"');
$x-htmlandcss-path91: unquote('"\\eaa3"');
$x-htmlandcss-path92: unquote('"\\eaa4"');
$x-htmlandcss-path93: unquote('"\\eaa5"');
$x-htmlandcss-path94: unquote('"\\eaa6"');
$x-htmlandcss-path95: unquote('"\\eaa7"');
$x-htmlandcss-path96: unquote('"\\eaa8"');
$x-htmlandcss-path97: unquote('"\\eaa9"');
$x-htmlandcss-path98: unquote('"\\eaaa"');
$x-htmlandcss-path99: unquote('"\\eaab"');
$x-htmlandcss-path100: unquote('"\\eaac"');
$x-htmlandcss-path101: unquote('"\\eaad"');
$x-htmlandcss-path102: unquote('"\\eaae"');
$x-htmlandcss-path103: unquote('"\\eaaf"');
$x-htmlandcss-path104: unquote('"\\eab0"');
$x-htmlandcss-path105: unquote('"\\eab1"');
$x-htmlandcss-path106: unquote('"\\eab2"');
$x-htmlandcss-path107: unquote('"\\eab3"');
$x-htmlandcss-path108: unquote('"\\eab4"');
$x-htmlandcss-path109: unquote('"\\eab5"');
$x-htmlandcss-path110: unquote('"\\eab6"');
$x-htmlandcss-path111: unquote('"\\eab7"');
$x-htmlandcss-path112: unquote('"\\eab8"');
$x-htmlandcss-path113: unquote('"\\eab9"');
$x-htmlandcss-path114: unquote('"\\eaba"');
$x-htmlandcss-path115: unquote('"\\eabb"');
$x-htmlandcss-path116: unquote('"\\eabc"');
$x-htmlandcss-path117: unquote('"\\eabd"');
$x-htmlandcss-path118: unquote('"\\eabe"');
$x-htmlandcss-path119: unquote('"\\eabf"');
$x-htmlandcss-path120: unquote('"\\eac0"');
$x-htmlandcss-path121: unquote('"\\eac1"');
$x-htmlandcss-path122: unquote('"\\eac2"');
$x-htmlandcss-path123: unquote('"\\eac3"');
$x-htmlandcss-path124: unquote('"\\eac4"');
$x-htmlandcss-path125: unquote('"\\eac5"');
$x-htmlandcss-path126: unquote('"\\eac6"');
$x-htmlandcss-path127: unquote('"\\eac7"');
$x-htmlandcss-path128: unquote('"\\eac8"');
$x-htmlandcss-path129: unquote('"\\eac9"');
$x-htmlandcss-path130: unquote('"\\eaca"');
$x-htmlandcss-path131: unquote('"\\eacb"');
$x-htmlandcss-path132: unquote('"\\eacc"');
$x-htmlandcss-path133: unquote('"\\eacd"');
$x-htmlandcss-path134: unquote('"\\eace"');
$x-htmlandcss-path135: unquote('"\\eacf"');
$x-htmlandcss-path136: unquote('"\\ead0"');
$x-htmlandcss-path137: unquote('"\\ead1"');
$x-htmlandcss-path138: unquote('"\\ead2"');
$x-htmlandcss-path139: unquote('"\\ead3"');
$x-htmlandcss-path140: unquote('"\\ead4"');
$x-htmlandcss-path141: unquote('"\\ead5"');
$x-htmlandcss-path142: unquote('"\\ead6"');
$x-htmlandcss-path143: unquote('"\\ead7"');
$x-htmlandcss-path144: unquote('"\\ead8"');
$x-htmlandcss-path145: unquote('"\\ead9"');
$x-htmlandcss-path146: unquote('"\\eada"');
$x-htmlandcss-path147: unquote('"\\eadb"');
$x-htmlandcss-path148: unquote('"\\eadc"');
$x-htmlandcss-path149: unquote('"\\eadd"');
$x-htmlandcss-path150: unquote('"\\eade"');
$x-htmlandcss-path151: unquote('"\\eadf"');
$x-htmlandcss-path152: unquote('"\\eae0"');
$x-htmlandcss-path153: unquote('"\\eae1"');
$x-htmlandcss-path154: unquote('"\\eae2"');
$x-htmlandcss-path155: unquote('"\\eae3"');
$x-htmlandcss-path156: unquote('"\\eae4"');
$x-htmlandcss-path157: unquote('"\\eae5"');
$x-htmlandcss-path158: unquote('"\\eae6"');
$x-htmlandcss-path159: unquote('"\\eae7"');
$x-htmlandcss-path160: unquote('"\\eae8"');
$x-htmlandcss-path161: unquote('"\\eae9"');
$x-htmlandcss-path162: unquote('"\\eaea"');
$x-htmlandcss-path163: unquote('"\\eaeb"');
$x-htmlandcss-path164: unquote('"\\eaec"');
$x-htmlandcss-path165: unquote('"\\eaed"');
$x-htmlandcss-path166: unquote('"\\eaee"');
$x-htmlandcss-path167: unquote('"\\eaef"');
$x-htmlandcss-path168: unquote('"\\eaf0"');
$x-htmlandcss-path169: unquote('"\\eaf1"');
$x-htmlandcss-path170: unquote('"\\eaf2"');
$x-htmlandcss-path171: unquote('"\\eaf3"');
$x-htmlandcss-path172: unquote('"\\eaf4"');
$x-htmlandcss-path173: unquote('"\\eaf5"');
$x-htmlandcss-path174: unquote('"\\eaf6"');
$x-htmlandcss-path175: unquote('"\\eaf7"');
$x-htmlandcss-path176: unquote('"\\eaf8"');
$x-htmlandcss-path177: unquote('"\\eaf9"');
$x-htmlandcss-path178: unquote('"\\eafa"');
$x-htmlandcss-path179: unquote('"\\eafb"');
$x-htmlandcss-path180: unquote('"\\eafc"');
$x-htmlandcss-path181: unquote('"\\eafd"');
$x-htmlandcss-path182: unquote('"\\eafe"');
$x-htmlandcss-path183: unquote('"\\eaff"');
$x-htmlandcss-path184: unquote('"\\eb00"');
$x-htmlandcss-path185: unquote('"\\eb01"');
$x-htmlandcss-path186: unquote('"\\eb02"');
$x-htmlandcss-path187: unquote('"\\eb03"');
$x-htmlandcss-path188: unquote('"\\eb04"');
$x-htmlandcss-path189: unquote('"\\eb05"');
$x-htmlandcss-path190: unquote('"\\eb06"');
$x-htmlandcss-path191: unquote('"\\eb07"');
$x-htmlandcss-path192: unquote('"\\eb08"');
$x-htmlandcss-path193: unquote('"\\eb09"');
$x-htmlandcss-path194: unquote('"\\eb0a"');
$x-htmlandcss-path195: unquote('"\\eb0b"');
$x-customerservice-path1: unquote('"\\eb0c"');
$x-customerservice-path2: unquote('"\\eb0d"');
$x-customerservice-path3: unquote('"\\eb0e"');
$x-customerservice-path4: unquote('"\\eb0f"');
$x-customerservice-path5: unquote('"\\eb10"');
$x-customerservice-path6: unquote('"\\eb11"');
$x-customerservice-path7: unquote('"\\eb12"');
$x-customerservice-path8: unquote('"\\eb13"');
$x-customerservice-path9: unquote('"\\eb14"');
$x-customerservice-path10: unquote('"\\eb15"');
$x-customerservice-path11: unquote('"\\eb16"');
$x-customerservice-path12: unquote('"\\eb17"');
$x-customerservice-path13: unquote('"\\eb18"');
$x-customerservice-path14: unquote('"\\eb19"');
$x-customerservice-path15: unquote('"\\eb1a"');
$x-customerservice-path16: unquote('"\\eb1b"');
$x-customerservice-path17: unquote('"\\eb1c"');
$x-customerservice-path18: unquote('"\\eb1d"');
$x-customerservice-path19: unquote('"\\eb1e"');
$x-customerservice-path20: unquote('"\\eb1f"');
$x-customerservice-path21: unquote('"\\eb20"');
$x-customerservice-path22: unquote('"\\eb21"');
$x-customerservice-path23: unquote('"\\eb22"');
$x-customerservice-path24: unquote('"\\eb23"');
$x-customerservice-path25: unquote('"\\eb24"');
$x-customerservice-path26: unquote('"\\eb25"');
$x-customerservice-path27: unquote('"\\eb26"');
$x-customerservice-path28: unquote('"\\eb27"');
$x-customerservice-path29: unquote('"\\eb28"');
$x-customerservice-path30: unquote('"\\eb29"');
$x-customerservice-path31: unquote('"\\eb2a"');
$x-customerservice-path32: unquote('"\\eb2b"');
$x-customerservice-path33: unquote('"\\eb2c"');
$x-customerservice-path34: unquote('"\\eb2d"');
$x-customerservice-path35: unquote('"\\eb2e"');
$x-customerservice-path36: unquote('"\\eb2f"');
$x-customerservice-path37: unquote('"\\eb30"');
$x-customerservice-path38: unquote('"\\eb31"');
$x-customerservice-path39: unquote('"\\eb32"');
$x-customerservice-path40: unquote('"\\eb33"');
$x-customerservice-path41: unquote('"\\eb34"');
$x-customerservice-path42: unquote('"\\eb35"');
$x-customerservice-path43: unquote('"\\eb36"');
$x-customerservice-path44: unquote('"\\eb37"');
$x-customerservice-path45: unquote('"\\eb38"');
$x-customerservice-path46: unquote('"\\eb39"');
$x-customerservice-path47: unquote('"\\eb3a"');
$x-customerservice-path48: unquote('"\\eb3b"');
$x-customerservice-path49: unquote('"\\eb3c"');
$x-customerservice-path50: unquote('"\\eb3d"');
$x-customerservice-path51: unquote('"\\eb3e"');
$x-customerservice-path52: unquote('"\\eb3f"');
$x-customerservice-path53: unquote('"\\eb40"');
$x-customerservice-path54: unquote('"\\eb41"');
$x-customerservice-path55: unquote('"\\eb42"');
$x-customerservice-path56: unquote('"\\eb43"');
$x-customerservice-path57: unquote('"\\eb44"');
$x-customerservice-path58: unquote('"\\eb45"');
$x-customerservice-path59: unquote('"\\eb46"');
$x-customerservice-path60: unquote('"\\eb47"');
$x-customerservice-path61: unquote('"\\eb48"');
$x-customerservice-path62: unquote('"\\eb49"');
$x-customerservice-path63: unquote('"\\eb4a"');
$x-customerservice-path64: unquote('"\\eb4b"');
$x-customerservice-path65: unquote('"\\eb4c"');
$x-customerservice-path66: unquote('"\\eb4d"');
$x-customerservice-path67: unquote('"\\eb4e"');
$x-customerservice-path68: unquote('"\\eb4f"');
$x-customerservice-path69: unquote('"\\eb50"');
$x-customerservice-path70: unquote('"\\eb51"');
$x-customerservice-path71: unquote('"\\eb52"');
$x-customerservice-path72: unquote('"\\eb53"');
$x-customerservice-path73: unquote('"\\eb54"');
$x-customerservice-path74: unquote('"\\eb55"');
$x-customerservice-path75: unquote('"\\eb56"');
$x-customerservice-path76: unquote('"\\eb57"');
$x-customerservice-path77: unquote('"\\eb58"');
$x-customerservice-path78: unquote('"\\eb59"');
$x-customerservice-path79: unquote('"\\eb5a"');
$x-customerservice-path80: unquote('"\\eb5b"');
$x-customerservice-path81: unquote('"\\eb5c"');
$x-customerservice-path82: unquote('"\\eb5d"');
$x-customerservice-path83: unquote('"\\eb5e"');
$x-customerservice-path84: unquote('"\\eb5f"');
$x-customerservice-path85: unquote('"\\eb60"');
$x-customerservice-path86: unquote('"\\eb61"');
$x-customerservice-path87: unquote('"\\eb62"');
$x-customerservice-path88: unquote('"\\eb63"');
$x-customerservice-path89: unquote('"\\eb64"');
$x-customerservice-path90: unquote('"\\eb65"');
$x-customerservice-path91: unquote('"\\eb66"');
$x-customerservice-path92: unquote('"\\eb67"');
$x-customerservice-path93: unquote('"\\eb68"');
$x-customerservice-path94: unquote('"\\eb69"');
$x-customerservice-path95: unquote('"\\eb6a"');
$x-customerservice-path96: unquote('"\\eb6b"');
$x-customerservice-path97: unquote('"\\eb6c"');
$x-customerservice-path98: unquote('"\\eb6d"');
$x-customerservice-path99: unquote('"\\eb6e"');
$x-customerservice-path100: unquote('"\\eb6f"');
$x-customerservice-path101: unquote('"\\eb70"');
$x-customerservice-path102: unquote('"\\eb71"');
$x-customerservice-path103: unquote('"\\eb72"');
$x-customerservice-path104: unquote('"\\eb73"');
$x-customerservice-path105: unquote('"\\eb74"');
$x-customerservice-path106: unquote('"\\eb75"');
$x-customerservice-path107: unquote('"\\eb76"');
$x-react: unquote('"\\e9db"');
$x-python-path1: unquote('"\\e9dc"');
$x-python-path2: unquote('"\\e9dd"');
$x-nodejs-path1: unquote('"\\e9de"');
$x-nodejs-path2: unquote('"\\e9df"');
$x-nodejs-path3: unquote('"\\e9e0"');
$x-nodejs-path4: unquote('"\\e9e1"');
$x-nodejs-path5: unquote('"\\e9e2"');
$x-nodejs-path6: unquote('"\\e9e3"');
$x-nodejs-path7: unquote('"\\e9e4"');
$x-nodejs-path8: unquote('"\\e9e5"');
$x-nodejs-path9: unquote('"\\e9e6"');
$x-nodejs-path10: unquote('"\\e9e7"');
$x-nodejs-path11: unquote('"\\e9e8"');
$x-microsoftoffice-path1: unquote('"\\e9e9"');
$x-microsoftoffice-path2: unquote('"\\e9ea"');
$x-microsoftoffice-path3: unquote('"\\e9eb"');
$x-microsoftoffice-path4: unquote('"\\e9ec"');
$x-microsoftoffice-path5: unquote('"\\e9ed"');
$x-microsoftoffice-path6: unquote('"\\e9ee"');
$x-microsoftoffice-path7: unquote('"\\e9ef"');
$x-microsoftoffice-path8: unquote('"\\e9f0"');
$x-microsoftoffice-path9: unquote('"\\e9f1"');
$x-microsoftoffice-path10: unquote('"\\e9f2"');
$x-microsoftoffice-path11: unquote('"\\e9f3"');
$x-microsoftoffice-path12: unquote('"\\e9f4"');
$x-microsoftoffice-path13: unquote('"\\e9f5"');
$x-microsoftoffice-path14: unquote('"\\e9f6"');
$x-microsoftoffice-path15: unquote('"\\e9f7"');
$x-microsoftoffice-path16: unquote('"\\e9f8"');
$x-microsoftoffice-path17: unquote('"\\e9f9"');
$x-microsoftoffice-path18: unquote('"\\e9fa"');
$x-microsoftoffice-path19: unquote('"\\e9fb"');
$x-microsoftoffice-path20: unquote('"\\e9fc"');
$x-microsoftoffice-path21: unquote('"\\e9fd"');
$x-microsoftoffice-path22: unquote('"\\e9fe"');
$x-microsoftoffice-path23: unquote('"\\e9ff"');
$x-microsoftoffice-path24: unquote('"\\ea00"');
$x-microsoftoffice-path25: unquote('"\\ea01"');
$x-microsoftoffice-path26: unquote('"\\ea02"');
$x-microsoftoffice-path27: unquote('"\\ea03"');
$x-microsoftoffice-path28: unquote('"\\ea04"');
$x-microsoftoffice-path29: unquote('"\\ea05"');
$x-microsoftoffice-path30: unquote('"\\ea06"');
$x-microsoftoffice-path31: unquote('"\\ea07"');
$x-microsoftoffice-path32: unquote('"\\ea08"');
$x-microsoftoffice-path33: unquote('"\\ea09"');
$x-microsoftoffice-path34: unquote('"\\ea0a"');
$x-microsoftoffice-path35: unquote('"\\ea0b"');
$x-microsoftoffice-path36: unquote('"\\ea0c"');
$x-microsoftoffice-path37: unquote('"\\ea0d"');
$x-microsoftoffice-path38: unquote('"\\ea0e"');
$x-microsoftoffice-path39: unquote('"\\ea0f"');
$x-microsoftoffice-path40: unquote('"\\ea10"');
$x-microsoftoffice-path41: unquote('"\\ea11"');
$x-microsoftoffice-path42: unquote('"\\ea12"');
$x-microsoftoffice-path43: unquote('"\\ea13"');
$x-microsoftoffice-path44: unquote('"\\ea14"');
$x-microsoftoffice-path45: unquote('"\\ea15"');
$x-microsoftoffice-path46: unquote('"\\ea16"');
$x-microsoftoffice-path47: unquote('"\\ea17"');
$x-microsoftoffice-path48: unquote('"\\ea18"');
$x-microsoftoffice-path49: unquote('"\\ea19"');
$x-microsoftoffice-path50: unquote('"\\ea1a"');
$x-microsoftoffice-path51: unquote('"\\ea1b"');
$x-microsoftoffice-path52: unquote('"\\ea1c"');
$x-microsoftoffice-path53: unquote('"\\ea1d"');
$x-microsoftoffice-path54: unquote('"\\ea1e"');
$x-microsoftoffice-path55: unquote('"\\ea1f"');
$x-microsoftoffice-path56: unquote('"\\ea20"');
$x-microsoftoffice-path57: unquote('"\\ea21"');
$x-microsoftoffice-path58: unquote('"\\ea22"');
$x-microsoftoffice-path59: unquote('"\\ea23"');
$x-microsoftoffice-path60: unquote('"\\ea24"');
$x-microsoftoffice-path61: unquote('"\\ea25"');
$x-microsoftoffice-path62: unquote('"\\ea26"');
$x-microsoftoffice-path63: unquote('"\\ea27"');
$x-microsoftoffice-path64: unquote('"\\ea28"');
$x-microsoftoffice-path65: unquote('"\\ea29"');
$x-microsoftoffice-path66: unquote('"\\ea2a"');
$x-microsoftoffice-path67: unquote('"\\ea2b"');
$x-microsoftoffice-path68: unquote('"\\ea2c"');
$x-microsoftoffice-path69: unquote('"\\ea2d"');
$x-microsoftoffice-path70: unquote('"\\ea2e"');
$x-microsoftoffice-path71: unquote('"\\ea2f"');
$x-microsoftoffice-path72: unquote('"\\ea30"');
$x-microsoftoffice-path73: unquote('"\\ea31"');
$x-microsoftoffice-path74: unquote('"\\ea32"');
$x-microsoftoffice-path75: unquote('"\\ea33"');
$x-microsoftoffice-path76: unquote('"\\ea34"');
$x-microsoftoffice-path77: unquote('"\\ea35"');
$x-microsoftoffice-path78: unquote('"\\ea36"');
$x-microsoftoffice-path79: unquote('"\\ea37"');
$x-microsoftoffice-path80: unquote('"\\ea38"');
$x-microsoftoffice-path81: unquote('"\\ea39"');
$x-microsoftoffice-path82: unquote('"\\ea3a"');
$x-microsoftoffice-path83: unquote('"\\ea3b"');
$x-microsoftoffice-path84: unquote('"\\ea3c"');
$x-microsoftoffice-path85: unquote('"\\ea3d"');
$x-microsoftoffice-path86: unquote('"\\ea3e"');
$x-microsoftoffice-path87: unquote('"\\ea3f"');
$x-microsoftoffice-path88: unquote('"\\ea40"');
$x-microsoftoffice-path89: unquote('"\\ea41"');
$x-microsoftoffice-path90: unquote('"\\ea42"');
$x-microsoftoffice-path91: unquote('"\\ea43"');
$x-microsoftoffice-path92: unquote('"\\ea44"');
$x-microsoftoffice-path93: unquote('"\\ea45"');
$x-microsoftoffice-path94: unquote('"\\ea46"');
$x-microsoftoffice-path95: unquote('"\\ea47"');
$x-microsoftoffice-path96: unquote('"\\ea48"');
$x-timemanagement-path1: unquote('"\\e907"');
$x-timemanagement-path2: unquote('"\\e908"');
$x-timemanagement-path3: unquote('"\\e909"');
$x-timemanagement-path4: unquote('"\\e90a"');
$x-timemanagement-path5: unquote('"\\e90b"');
$x-timemanagement-path6: unquote('"\\e90c"');
$x-timemanagement-path7: unquote('"\\e90d"');
$x-timemanagement-path8: unquote('"\\e90e"');
$x-timemanagement-path9: unquote('"\\e90f"');
$x-timemanagement-path10: unquote('"\\e910"');
$x-timemanagement-path11: unquote('"\\e911"');
$x-timemanagement-path12: unquote('"\\e912"');
$x-timemanagement-path13: unquote('"\\e913"');
$x-timemanagement-path14: unquote('"\\e914"');
$x-timemanagement-path15: unquote('"\\e915"');
$x-timemanagement-path16: unquote('"\\e916"');
$x-timemanagement-path17: unquote('"\\e917"');
$x-timemanagement-path18: unquote('"\\e918"');
$x-timemanagement-path19: unquote('"\\e919"');
$x-timemanagement-path20: unquote('"\\e91a"');
$x-timemanagement-path21: unquote('"\\e91b"');
$x-timemanagement-path22: unquote('"\\e91c"');
$x-timemanagement-path23: unquote('"\\e91d"');
$x-timemanagement-path24: unquote('"\\e91e"');
$x-timemanagement-path25: unquote('"\\e91f"');
$x-timemanagement-path26: unquote('"\\e920"');
$x-timemanagement-path27: unquote('"\\e921"');
$x-timemanagement-path28: unquote('"\\e922"');
$x-timemanagement-path29: unquote('"\\e923"');
$x-timemanagement-path30: unquote('"\\e924"');
$x-timemanagement-path31: unquote('"\\e925"');
$x-timemanagement-path32: unquote('"\\e926"');
$x-timemanagement-path33: unquote('"\\e927"');
$x-timemanagement-path34: unquote('"\\e928"');
$x-timemanagement-path35: unquote('"\\e929"');
$x-timemanagement-path36: unquote('"\\e92a"');
$x-timemanagement-path37: unquote('"\\e92b"');
$x-timemanagement-path38: unquote('"\\e92c"');
$x-timemanagement-path39: unquote('"\\e92d"');
$x-timemanagement-path40: unquote('"\\e92e"');
$x-timemanagement-path41: unquote('"\\e92f"');
$x-timemanagement-path42: unquote('"\\e930"');
$x-timemanagement-path43: unquote('"\\e931"');
$x-timemanagement-path44: unquote('"\\e932"');
$x-timemanagement-path45: unquote('"\\e933"');
$x-timemanagement-path46: unquote('"\\e934"');
$x-timemanagement-path47: unquote('"\\e935"');
$x-timemanagement-path48: unquote('"\\e936"');
$x-timemanagement-path49: unquote('"\\e937"');
$x-timemanagement-path50: unquote('"\\e938"');
$x-timemanagement-path51: unquote('"\\e939"');
$x-timemanagement-path52: unquote('"\\e93a"');
$x-timemanagement-path53: unquote('"\\e93b"');
$x-timemanagement-path54: unquote('"\\e93c"');
$x-timemanagement-path55: unquote('"\\e93d"');
$x-timemanagement-path56: unquote('"\\e93e"');
$x-timemanagement-path57: unquote('"\\e93f"');
$x-timemanagement-path58: unquote('"\\e940"');
$x-timemanagement-path59: unquote('"\\e941"');
$x-timemanagement-path60: unquote('"\\e942"');
$x-timemanagement-path61: unquote('"\\e943"');
$x-timemanagement-path62: unquote('"\\e944"');
$x-timemanagement-path63: unquote('"\\e945"');
$x-timemanagement-path64: unquote('"\\e946"');
$x-timemanagement-path65: unquote('"\\e947"');
$x-timemanagement-path66: unquote('"\\e948"');
$x-timemanagement-path67: unquote('"\\e949"');
$x-timemanagement-path68: unquote('"\\e94a"');
$x-timemanagement-path69: unquote('"\\e94b"');
$x-timemanagement-path70: unquote('"\\e94c"');
$x-timemanagement-path71: unquote('"\\e94d"');
$x-timemanagement-path72: unquote('"\\e94e"');
$x-timemanagement-path73: unquote('"\\e94f"');
$x-timemanagement-path74: unquote('"\\e950"');
$x-timemanagement-path75: unquote('"\\e951"');
$x-timemanagement-path76: unquote('"\\e952"');
$x-timemanagement-path77: unquote('"\\e953"');
$x-timemanagement-path78: unquote('"\\e954"');
$x-timemanagement-path79: unquote('"\\e955"');
$x-timemanagement-path80: unquote('"\\e956"');
$x-timemanagement-path81: unquote('"\\e957"');
$x-timemanagement-path82: unquote('"\\e958"');
$x-timemanagement-path83: unquote('"\\e959"');
$x-timemanagement-path84: unquote('"\\e95a"');
$x-timemanagement-path85: unquote('"\\e95b"');
$x-timemanagement-path86: unquote('"\\e95c"');
$x-timemanagement-path87: unquote('"\\e95d"');
$x-timemanagement-path88: unquote('"\\e95e"');
$x-timemanagement-path89: unquote('"\\e95f"');
$x-timemanagement-path90: unquote('"\\e960"');
$x-timemanagement-path91: unquote('"\\e961"');
$x-timemanagement-path92: unquote('"\\e962"');
$x-timemanagement-path93: unquote('"\\e963"');
$x-timemanagement-path94: unquote('"\\e964"');
$x-timemanagement-path95: unquote('"\\e965"');
$x-timemanagement-path96: unquote('"\\e966"');
$x-timemanagement-path97: unquote('"\\e967"');
$x-timemanagement-path98: unquote('"\\e968"');
$x-timemanagement-path99: unquote('"\\e969"');
$x-timemanagement-path100: unquote('"\\e96a"');
$x-timemanagement-path101: unquote('"\\e96b"');
$x-timemanagement-path102: unquote('"\\e96c"');
$x-timemanagement-path103: unquote('"\\e96d"');
$x-timemanagement-path104: unquote('"\\e96e"');
$x-timemanagement-path105: unquote('"\\e96f"');
$x-timemanagement-path106: unquote('"\\e970"');
$x-timemanagement-path107: unquote('"\\e971"');
$x-timemanagement-path108: unquote('"\\e972"');
$x-timemanagement-path109: unquote('"\\e973"');
$x-timemanagement-path110: unquote('"\\e974"');
$x-timemanagement-path111: unquote('"\\e975"');
$x-timemanagement-path112: unquote('"\\e976"');
$x-timemanagement-path113: unquote('"\\e977"');
$x-timemanagement-path114: unquote('"\\e978"');
$x-timemanagement-path115: unquote('"\\e979"');
$x-timemanagement-path116: unquote('"\\e97a"');
$x-timemanagement-path117: unquote('"\\e97b"');
$x-timemanagement-path118: unquote('"\\e97c"');
$x-timemanagement-path119: unquote('"\\e97d"');
$x-timemanagement-path120: unquote('"\\e97e"');
$x-timemanagement-path121: unquote('"\\e97f"');
$x-timemanagement-path122: unquote('"\\e980"');
$x-timemanagement-path123: unquote('"\\e981"');
$x-timemanagement-path124: unquote('"\\e982"');
$x-timemanagement-path125: unquote('"\\e983"');
$x-timemanagement-path126: unquote('"\\e984"');
$x-timemanagement-path127: unquote('"\\e985"');
$x-timemanagement-path128: unquote('"\\e986"');
$x-timemanagement-path129: unquote('"\\e987"');
$x-timemanagement-path130: unquote('"\\e988"');
$x-timemanagement-path131: unquote('"\\e989"');
$x-timemanagement-path132: unquote('"\\e98a"');
$x-timemanagement-path133: unquote('"\\e98b"');
$x-timemanagement-path134: unquote('"\\e98c"');
$x-timemanagement-path135: unquote('"\\e98d"');
$x-timemanagement-path136: unquote('"\\e98e"');
$x-timemanagement-path137: unquote('"\\e98f"');
$x-timemanagement-path138: unquote('"\\e990"');
$x-timemanagement-path139: unquote('"\\e991"');
$x-timemanagement-path140: unquote('"\\e992"');
$x-timemanagement-path141: unquote('"\\e993"');
$x-timemanagement-path142: unquote('"\\e994"');
$x-timemanagement-path143: unquote('"\\e995"');
$x-timemanagement-path144: unquote('"\\e996"');
$x-timemanagement-path145: unquote('"\\e997"');
$x-timemanagement-path146: unquote('"\\e998"');
$x-timemanagement-path147: unquote('"\\e999"');
$x-timemanagement-path148: unquote('"\\e99a"');
$x-timemanagement-path149: unquote('"\\e99b"');
$x-timemanagement-path150: unquote('"\\e99c"');
$x-timemanagement-path151: unquote('"\\e99d"');
$x-timemanagement-path152: unquote('"\\e99e"');
$x-timemanagement-path153: unquote('"\\e99f"');
$x-timemanagement-path154: unquote('"\\e9a0"');
$x-timemanagement-path155: unquote('"\\e9a1"');
$x-timemanagement-path156: unquote('"\\e9a2"');
$x-timemanagement-path157: unquote('"\\e9a3"');
$x-timemanagement-path158: unquote('"\\e9a4"');
$x-timemanagement-path159: unquote('"\\e9a5"');
$x-timemanagement-path160: unquote('"\\e9a6"');
$x-timemanagement-path161: unquote('"\\e9a7"');
$x-timemanagement-path162: unquote('"\\e9a8"');
$x-timemanagement-path163: unquote('"\\e9a9"');
$x-timemanagement-path164: unquote('"\\e9aa"');
$x-timemanagement-path165: unquote('"\\e9ab"');
$x-timemanagement-path166: unquote('"\\e9ac"');
$x-timemanagement-path167: unquote('"\\e9ad"');
$x-timemanagement-path168: unquote('"\\e9ae"');
$x-timemanagement-path169: unquote('"\\e9af"');
$x-timemanagement-path170: unquote('"\\e9b0"');
$x-timemanagement-path171: unquote('"\\e9b1"');
$x-timemanagement-path172: unquote('"\\e9b2"');
$x-timemanagement-path173: unquote('"\\e9b3"');
$x-timemanagement-path174: unquote('"\\e9b4"');
$x-timemanagement-path175: unquote('"\\e9b5"');
$x-timemanagement-path176: unquote('"\\e9b6"');
$x-timemanagement-path177: unquote('"\\e9b7"');
$x-timemanagement-path178: unquote('"\\e9b8"');
$x-timemanagement-path179: unquote('"\\e9b9"');
$x-timemanagement-path180: unquote('"\\e9ba"');
$x-timemanagement-path181: unquote('"\\e9bb"');
$x-timemanagement-path182: unquote('"\\e9bc"');
$x-timemanagement-path183: unquote('"\\e9bd"');
$x-timemanagement-path184: unquote('"\\e9be"');
$x-timemanagement-path185: unquote('"\\e9bf"');
$x-timemanagement-path186: unquote('"\\e9c0"');
$x-timemanagement-path187: unquote('"\\e9c1"');
$x-timemanagement-path188: unquote('"\\e9c2"');
$x-timemanagement-path189: unquote('"\\e9c3"');
$x-timemanagement-path190: unquote('"\\e9c4"');
$x-timemanagement-path191: unquote('"\\e9c5"');
$x-timemanagement-path192: unquote('"\\e9c6"');
$x-timemanagement-path193: unquote('"\\e9c7"');
$x-timemanagement-path194: unquote('"\\e9c8"');
$x-timemanagement-path195: unquote('"\\e9c9"');
$x-timemanagement-path196: unquote('"\\e9ca"');
$x-timemanagement-path197: unquote('"\\e9cb"');
$x-timemanagement-path198: unquote('"\\e9cc"');
$x-timemanagement-path199: unquote('"\\e9cd"');
$x-timemanagement-path200: unquote('"\\e9ce"');
$x-solidity-path1: unquote('"\\e9cf"');
$x-solidity-path2: unquote('"\\e9d0"');
$x-solidity-path3: unquote('"\\e9d1"');
$x-solidity-path4: unquote('"\\e9d2"');
$x-solidity-path5: unquote('"\\e9d3"');
$x-solidity-path6: unquote('"\\e9d4"');
$x-solidity-path7: unquote('"\\e9d5"');
$x-solidity-path8: unquote('"\\e9d6"');
$x-image1: unquote('"\\eb77"');
$x-javascript: unquote('"\\eb78"');
$x-scrollup-path1: unquote('"\\e9d7"');
$x-scrollup-path2: unquote('"\\e9d8"');
$x-scrollup-path3: unquote('"\\e9d9"');
$x-scrolldown: unquote('"\\e9da"');
$x-address: unquote('"\\e900"');
$x-email: unquote('"\\e901"');
$x-github: unquote('"\\e903"');
$x-linkedin: unquote('"\\e904"');
$x-phone: unquote('"\\e905"');
$x-twitter: unquote('"\\e906"');
